# Core Framework & Server
fastapi[standard]
uvicorn

# Data Validation
pydantic~=2.10.6

# Database
sqlalchemy
asyncpg                 # Async PostgreSQL driver
databases               # Optional: async DB toolkit
psycopg2-binary         # Optional: sync PostgreSQL driver

# passlib[bcrypt]
bcrypt==3.2.2
passlib==1.7.4

#file upload
python-multipart